@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Merriweather:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");

* {
  margin: auto;
  padding: 0;
}

.container {
  background-image: url(./images/BannerImage.png);
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: 20px;
  width: 1320px;
  height: 600px;
}
.gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgb(7, 2, 17),
    rgba(7, 2, 17, 0) 100%
  );
  opacity: 50%;
  border-radius: 20px;
}

.title {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-title {
  font-family: Merriweather;
  font-size: 30px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.header-title {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.off {
  padding-top: 60px;
  text-align: center;
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.happy-new-year img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.off1 {
  padding-top: 15px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.off2 {
  color: rgb(7, 2, 17);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}

.container1 {
  background-image: url(./images/Vectorrr.png);
  background-size: cover;
  position: relative;
  margin-top: 100px;
  width: 1320px;
  height: 600px;
  margin-bottom: 50px;
}
.gradient1 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgb(7, 2, 17),
    rgba(7, 2, 17, 0) 100%
  );
  opacity: 50%;
  border-radius: 16px;
}
.party {
  position: absolute;
  justify-content: space-between;
}
.text-block {
  position: absolute;
  width: 95%;
  bottom: 10%;
  color: white;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.text-block h1 {
  width: 642px;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
}
.text-block p {
  width: 642px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 10px;
}
.time-section {
  margin-top: 20px;
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  line-height: 56px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  padding-top: 15%;
}
.time-section span {
  color: #ff0000;
}
.time-section button {
  background-color: #ff0000;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  border-style: none;
  align-items: center;
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
}
.happy {
  width: 1320px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.happy h3 {
  height: 29px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #ff0000;
}
.happy h1 {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
}
.happy p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.ellipse {
  border: 15px solid rgb(255, 0, 0);
  border-radius: 500px;
  width: 364.84px;
  height: 364.84px;
  padding: 20px;
}

.offer {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 0 auto;
}

.offer > div {
  flex: 1;
}
.offer .first h3,
h1,
p {
  margin-bottom: 10px;
}
.offer .first h3 {
  color: #ff0000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer .first h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer .first p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.offer .second {
  display: flex;
  justify-content: center;
  border: 20px solid #ff0000;
  border-radius: 100%;
  padding: 20px;
}
.second img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer .third h2 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.offer .third p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.discount-text {
  text-align: center;
  margin-top: 120px;
}
.discount-text h6 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.discount-text h2 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 10px;
}
.discount-text h2 span {
  color: #ff0000;
}
.discount-text p {
  width: 900px;
  height: 96px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.discount-image-container {
  position: relative;
  margin-bottom: 120px;
}
.Rectangle2 {
  position: absolute;
  bottom: -4%;
  z-index: -1;
}
.discount-image {
  gap: 95px;
  display: flex;
  justify-content: space-between;
}

.discount-image-group {
  position: relative;
  margin-bottom: 201px;
  z-index: -1;
}
.discount {
  position: absolute;
  bottom: 10%;
  left: -35%;
}
.portfolio h6,
h2,
p {
  margin-bottom: 20px;
}
.portfolio h6 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.single-gallery {
  flex: 1 0 30%;
  box-sizing: border-box;
  vertical-align: top;
}

.single-gallery img {
  width: 100%;
  height: auto;
}

.newsletter {
  margin: 120px 0;
  padding: 150px;
  background: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
}
.newsletter h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
}
.newsletter p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
}

input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

input[type="text"] {
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  background: rgb(255, 255, 255);
}

input[type="submit"] {
  left: -5px;
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(255, 0, 0);
  color: white;
}