@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Merriweather:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
}

.center {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 16px;
}

.p-title {
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    top: 15%;
    left: 40%;
}

.header-title {
    display: flex;
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 400;
    top: 20%;
    left: 30%;
}

.off {
    padding-top: 60px;
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

.off1 {
    padding-top: 15px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
}

.off2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.new-year {
    align-items: center;
    padding-top: 20px;
    padding-left: 30%;
    display: block;
    width: 450px;
    height: 300px;
    flex-shrink: 0;
}

.Celebration {
    position: relative;
    padding-top: 1150px;

}

.text-block {
    position: absolute;
    bottom: 15%;
    right: 50%;
    color: rgb(255, 255, 255);
    display: block;
    padding-left: 126px;
}

.cele-heading {
    position: relative;
    color: #FFF;
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 7.04px;
}

.cele-title {
    position: relative;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

cele-btn {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.join {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    width: 1250px;
    height: 50px;
    border-radius: 16px;
    padding-top: 200px;
    padding-right: 60px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn-us {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;

}

.btn-us text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.join2{
    position: relative;
    display: flex;
}
.join-block{
    width: 1600px;
    height: 700px;
    padding-top: 500px;
    display: block;
    
}

.jo {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.join-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
}

.join-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    
}
.circle-image{
    padding-left: 500px;
    padding-bottom: 500px;
}
.ellipse{
   
}